.ant-form-item-label {
  display: flex;
  align-self: flex-start !important;
}

.ant-input {
  height: 40px;
}

.ant-picker {
  height: 50px;
}

.ant-select {
  height: 50px;
}

.form-item {
  margin: 0;
}
