.page-detail-project {
  margin: 0 40px;
  text-align: center;
  height: 100vh;
}
.detail-project-light {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 #16c2c20e, 0 4px 10px 0 #16c2c21f;
}

.detail-project-dark {
  margin-top: 10px;
  background-color: #141414;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 #ffffff00, 0 4px 10px rgba(255, 255, 255, 0.26);
}
.ant-typography {
  margin-top: 5px;
}
