.layout-page-content > :nth-child(2) {
  flex: unset !important;
  overflow: auto;
  padding: 6px;
  box-sizing: border-box;
}

.ant-row.css-dev-only-do-not-override-1kd7ozu {
  padding-left: 6px;
  padding-right: 6px;
}
