.page-detail-project {
  text-align: center;
  margin: 0 2rem;
  height: 100vh;
}
.detail-project-light {
  max-height: 75vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.detail-project-dark {
  max-height: 75vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none !important;
  }
}
.ant-typography {
  margin-top: 5px;
}

.ant-row.css-dev-only-do-not-override-n3jbno {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
