.ant-space-vertical {
  width: 100%;
}

.ant-card-head {
  margin: 0 !important;
  text-align: left !important;
}

.ant-steps.ant-steps-vertical {
  margin-top: 10px !important;
}

.ant-card {
  box-shadow: 0 6px 6px 0 #ffffff00, 0 2px 6px rgba(255, 255, 255, 0.26) !important;
}

.ant-progress-circle-path {
  stroke: #16c2c2 !important;
}

.ant-card-body {
  margin: 0 !important;
  text-align: left !important;
  height: 100%;
}

.content-left {
  width: 50%;
}

.content-right {
  width: 50%;
}
