.page-detail-employee {
  text-align: center;
  margin: 0 40px;
  height: 100vh;
}

.ant-row.css-dev-only-do-not-override-1kd7ozu {
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.ant-row.css-dev-only-do-not-override-n3jbno {
  padding-left: 10px;
  padding-right: 10px;
}
.ant-table-wrapper {
  overflow: unset !important;
}
