.timeLineAnt {
  &:where(.css-dev-only-do-not-override-1kd7ozu).ant-timeline .ant-timeline-item-tail {
    background: #13c2c2;
  }

  &:where(.css-dev-only-do-not-override-n3jbno).ant-timeline .ant-timeline-item-tail {
    background: #13c2c2;
  }

  &:where(.css-dev-only-do-not-override-1kd7ozu).ant-timeline .ant-timeline-item-head {
    background: none;
  }

  &:where(.css-dev-only-do-not-override-n3jbno).ant-timeline .ant-timeline-item-head {
    background: none;
  }

  :where(.css-dev-only-do-not-override-n3jbno).ant-card-bordered {
    border: 1px solid #13c2c2;
  }
  :where(.css-dev-only-do-not-override-1kd7ozu).ant-card-bordered {
    border: 1px solid #13c2c2;
  }
  .ant-card {
    box-shadow: 0 2px 6px rgba(142, 142, 142, 0.26) !important;
  }
}
