.layout-page-content > :nth-child(2) {
  flex: unset !important;
  overflow: unset !important;
  padding: 6px;
  box-sizing: border-box;
}

// .ant-row.css-dev-only-do-not-override-1kd7ozu {
//   padding-left: 10px;
//   padding-right: 15px;
//   padding-bottom: 10px;
// }

// .ant-row.css-dev-only-do-not-override-n3jbno {
//   padding-left: 10px;
//   padding-right: 10px;
// }
// .ant-table-wrapper {
//   overflow-y: scroll !important;
// }
