.page-update-project {
  margin: 0 2rem;
}
.form-update-light {
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 10px;
  background-color: white;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  &::-webkit-scrollbar {
    display: none !important;
  }
  box-shadow: 0 8px 8px 0 #16c2c20e, 0 4px 10px 0 #16c2c21f;
}

.form-update-dark {
  max-height: 75vh;
  overflow-y: scroll;
  margin-top: 10px;
  background-color: #141414;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 #ffffff00, 0 4px 10px rgba(255, 255, 255, 0.26);
  &::-webkit-scrollbar {
    display: none !important;
  }
}
